.hero-image {
  background-image: url("./assets/images/bg-pattern-2.svg");
  background-size: cover;
  height: 520px;
}

.hero-image-2 {
  background-image: url("./assets/images/bg-pattern-2.svg");
  background-size: cover;
  height: 400px;
}

@media (min-width: 640px) {
  .hero-image-2 {
    height: 600px;
  }
}

.contact {
  background-image: url("./assets/images/bg-pattern-2.svg");
  background-size: cover;
  min-height: 520px;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.links {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.mobile-menu {
  visibility: hidden;
  top: -400px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 0;
}

.mobile-menu.active {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.scroll-gif {
  position: absolute;
  top: 85%;
  left: 50%;
  height: 80px;
  transform: translateX(-50%);
}

.heading::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #0369a1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.stack {
  margin: auto;
  margin-top: 10px !important;
  padding: 15px;
  border-radius: 10px;
}

.stack i {
  font-size: 35px;
  margin-right: 15px;
  display: block;
}

/* .download-btn {
  border: 1px solid #0369a1;
  position: absolute;
  top: 75%;
  left: 50%;
  color: #0369a1;
} */

.download-button {
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 640px) {
  .download-button {
    top: 88%;
  }
}

.download-btn {
  color: #334155;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 20px #a8d3eb;
  background: rgba(255, 255, 255, 0.068);
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 8px;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}

.download-btn:hover {
  border-color: #334155;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.144),
    rgba(255, 255, 255, 0.247),
    rgba(255, 255, 255, 0.39)
  );
  box-shadow: 0 6px #334155;
  transform: translateY(-6px);
}

.download-btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

.title-text {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.service-card {
  transition: 0.2s ease-in-out;
}

.service-card:hover {
  scale: 1.05;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.scroll-top {
  top: 90%;
  right: 2%;
  transition: all 0.1s ease-in-out;
}

@media (min-width: 640px) {
  .scroll-top {
    top: 85%;
  }
}

.project-card {
}

.project-card-btn-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
}

.project-card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
